@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

h1, h2, h3, p, button, span, a, div, section, article {
    margin: 0;
    padding: 0;
}

:root {
    font-family: Poppins, sans-serif;
    --main-color: #000;
    --brand-color: #0e38b1;
    --second-brand-color: #081f62;
    --white-color: #fff;
}

body {
    max-width: 1100px;
    margin: auto;
}

.logo {
    font-family: Sarala, sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-left: 50px;
    font-weight: bold;
}

.menu a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    margin: 10px;
    font-weight: 500;
    font-size: 15px;
}

.menu a:hover {
    color: var(--brand-color);
}

@media (max-width: 735px) {
    header nav .menu {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
}

@media (min-width: 735px) {
    header nav {
        display: flex;
    }

    header nav .menu {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
    }
}

.button {
    color: var(--second-brand-color);
    font-size: 11px;
    border: 2px solid var(--brand-color);
    border-radius: 25px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--white-color);
    transition: background-color 1s;
}

.button:hover {
    background-color: var(--brand-color);
    color: var(--white-color);
}

.nav-button {
    align-self: center;
    margin: 20px;
}

.banner {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    min-height: 600px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
}

.banner h1 {
    font-size: 38px;
    font-weight: 900;
    margin-bottom: 40px;
}

@media (min-width: 405px) {
    .banner h1 {
        font-size: 44px;
    }
}

@media (min-width: 900px) {
    .banner h1 {
        font-size: 76px;
    }
}

@media (min-width: 500px) {
    .banner h1 {
        font-size: 58px;
    }
}

h1 span {
    display: block;
    max-height: 80px;
}

.start-banner-name {
    color: var(--brand-color);
}

.end-banner-name {
    color: var(--white-color);
}

.main-description {
    color: var(--white-color);
    font-size: 18px;
}

.banner-button {
    background-color: var(--brand-color);
    color: var(--white-color);
    margin-top: 3rem;
}

.banner-button:hover {
    background-color: var(--white-color);
    color: var(--second-brand-color);
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    font-size: 22px;
    color: var(--brand-color);
    margin: 20px 0;
}

img {
    display: block;
    margin: auto;
}

.promotions h2 {
    margin: 3rem 1rem;
    font-size: 38px;
}

.promotion-category {
    margin: 10px;
}

.promotions-wrapper img {
   width: 100%;
}

@media (min-width: 700px) {
    .promotions-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1050px) {
    .promotions-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.promotions-bracelets {
    color: var(--main-color);
}

.switchover {
    color: var(--white-color);
    min-height: 400px;
    background-image: url("../img/switchover.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    margin: 20px 0;
}

.switchover h2 {
    font-size: 60px;
    padding: 0 150px;
    text-transform: uppercase;
}

.winter-2021-collection {
    background: linear-gradient(rgba(38, 37, 28, 0.5), rgba(82, 80, 70, 0.3)), url(../img/winter-2021-collection.jpg) center;
    background-size: cover;
    min-height: 600px;
    color: var(--white-color);
}

.footer-menu a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    width: 300px;
    margin: 10px;
}